@import '~@/assets/styles/variables';

.post-list {
  width: 100%;
  max-width: 1000px;

  h1 {
    line-height: 1;
    margin: 0;
  }

  p {
    margin: 1em 0 0;
  }

  &__item {
    display: flex;
  }

  &__publish-time {
    flex-grow: 0;

    width: 120px;
    min-width: 120px;
    height: 28px;
    line-height: 28px;
    
    color: $blue-light;
    letter-spacing: 1px;
    font-size: $font-size-large;

    @media screen and (max-width: 650px) {
      width: 100px;
      min-width: 100px;
      
      font-size: $font-size-small;
    }
  }

  &__description {
    flex-grow: 1;
    width: auto;
    overflow: hidden;
  }

  &__title {
    text-align: left;
    cursor: pointer;
    transition: .3s;
    
    a {
      font-size: $font-size-extra-large;

      display: inline-block;
      width: 100%;
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 400;
      letter-spacing: 1px;
      
      &:hover {
        color: $pink;
      }

      @media screen and (max-width: 650px) {
        font-size: $font-size-large;
      }
    }
  }

  &__content {
    position: relative;
    
    text-align: left;
    color: $blue-light;
    font-size: $font-size-medium;

    // fix markdown style
    blockquote,
    ol,
    ul,
    li,
    p {
      margin: 0;
      padding: 0;
    }

    li {
      text-align: left;
    }

    @media screen and (max-width: 650px) {
      display: none;
    }
  }

  &__read-more {
    font-size: $font-size-small;
    text-align: end;

    a {
      border-bottom: 1px dashed transparent;
      transition: .3s;

      &:hover {
        border-color: #2c3e50;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .post-list{
    &__content,
    &__read-more {
      display: none;
    }
  }
}