@import '~@/assets/styles/variables';

.post-list {
  width: 100%;
  max-width: 1000px;

  &__item {
    display: flex;
    text-align: left;
  }

  &__cover-image {
    flex-grow: 0;

    position: relative;

    width: 200px;
    min-width: 200px;
    overflow: hidden;

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      height: 100%;
      width: auto;

      object-fit: cover;
    }
  }

  &__description {
    flex-grow: 1;

    padding: 20px;

    width: auto;
    overflow: hidden;
  }

  &__title {
    cursor: pointer;
    text-align: left;
    line-height: 28px;
    transition: .3s;
    
    a {
      display: block;
      width: 100%;
      
      font-size: $font-size-extra-large;
      font-weight: 400;
      letter-spacing: 1px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: color .2s;
      
      &:hover {
        color: $blue-highlight;
      }

      @media screen and (max-width: 650px) {
        font-size: $font-size-large;
      }
    }
  }

  &__category {
    margin: 0;
    color: $blue-light;
  }

  &__content {
    position: relative;
    
    text-align: left;
    font-size: $font-size-medium;

    // fix markdown style
    blockquote,
    ol,
    ul,
    li,
    p {
      margin: 0;
      padding: 0;
    }

    li {
      text-align: left;
    }

    @media screen and (max-width: 650px) {
      display: none;
    }
  }

  &__read-more {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    font-size: $font-size-small;

    a:any-link {
      border-bottom: 1px dashed transparent;
      transition: .2s;

      &:hover {
        color: $blue-highlight;
        border-color: $blue-highlight;
      }
    }
  }

  &__publish-time {
    color: $blue-light;
  }
}

@media screen and (max-width: 650px) {
  .post-list{
    &__item {
      padding: 0;
    }

    &__content,
    &__read-more {
      display: none;
    }
  }
}