@import '~@/assets/styles/variables';

.post-list {
  &__publish-time {
    font-size: $font-size-large;

    flex-grow: 0;
    width: 120px;
    min-width: 120px;

    color: $blue-light;
    letter-spacing: 1px;

    @media screen and (max-width: 650px) {
      font-size: $font-size-small;
      
      margin-top: 2px;
      width: 100px;
      min-width: 100px;
    }
  }

  &__content {
    flex-grow: 1;
    width: auto;
    overflow: hidden;
  }

  &__title {
    text-align: left;
    cursor: pointer;
    transition: .3s;
    
    a {
      font-size: $font-size-extra-large;

      display: inline-block;
      width: 100%;
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 400;
      letter-spacing: 1px;
      
      &:hover {
        color: $pink;
      }

      @media screen and (max-width: 650px) {
        font-size: $font-size-large;
      }
    }
  }

  &__summary {
    font-size: $font-size-medium;

    position: relative;
    padding-bottom: 20px;
    
    color: $blue-light;
    text-align: left;

    // fix markdown style
    blockquote,
    ol,
    ul,
    li,
    p {
      margin: 0;
      padding: 0;
    }

    li {
      text-align: left;
    }
    
    &__view {
      font-size: $font-size-small;

      position: absolute;
      right: 0;
      bottom: 0;

      a {
        border-bottom: 1px dashed transparent;
        transition: .3s;

        &:hover {
          border-color: #2c3e50;
        }
      }
    }

    @media screen and (max-width: 650px) {
      display: none;
    }
  }
}