@import '~@/assets/styles/variables';

.divider {
  display: block;
  margin: 24px 0;
  padding: 0;
  
  height: 1px;
  width: 100%;
  
  position: relative;
  clear: both;
  line-height: 1.5;
  box-sizing: border-box;

  color: $blue;
  background: $blue-extra-light;
}