@import '~@/assets/styles/variables';

.card {
  margin-bottom: 20px;

  transition: box-shadow .2s;
  border-radius: 6px;
  background-color: $white;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.2);
  }
}