@import '~@/assets/styles/variables';

.card {
  padding: 1em;
  margin-bottom: 30px;

  transition: box-shadow .2s;
  border-radius: 15px;
  background-color: $white;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.2);
  }
}