@import '~@/assets/styles/variables.scss';

.header {
  display: flex;
  height: 80px;
  padding: 0 50px;

  border-bottom: 1px solid $gray-light;
  box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);

  &__meta-bar {
    position: relative;
    display: flex;
    align-items: center;

    padding: 0 30px;
  }

  &__logo{
    display: inline-block;
    
    img {
      height: 40px;
    }
  }

  &__user {
    position: absolute;
    right: 10px;
    color: $blue-light;
    
    a {
      margin: 5px;
      color: $blue-light;
      transition: .2s;

      &:hover {
        color: $blue;
      }
    }
  }

  &__nav-bar {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    ul {
      width: 100%;
    }

    li {
      display: inline-block;
      padding: 10px 20px;
      margin: 0 5px;
      
      text-align: center;

      a {
        padding: 5px 0;
        line-height: 40px;
        font-size: $font-size-large;
        color: $blue-light;
        transition: .2s;
        cursor: pointer;
        
        &:hover,
        &.header--active {
          color: $blue;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .header {
    display: block;
    padding: 10px 0;

    border-color: transparent;

    &__meta-bar {
      display: block;
    }

    &__nav-bar ul {
      display: flex;
      justify-content: space-between;
    }

    &__user {
      bottom: 70px;
    }
  }
}