@import '~@/assets/styles/variables';

.comment {
  margin: 0 auto;

  a:link {
    color: $blue;
    border-bottom: 1px solid $blue;
  }

  h2 {
    margin: 0 0 10px;
  }

  &__item {
    p {
      white-space: pre-line;
    }
  }

  &__create-time {
    color: $blue-light;
  }
}