@import '~@/assets/styles/variables.scss';

@mixin colorful-button($color) {
  border-color: $color;
  background-color: $color;

  &:hover {
    border-color: mix($white, $color, 20);
    background-color: mix($white, $color, 20);
  }
}

// normal
.button {
  padding: 6px 15px;

  border: 1px solid $blue;
  border-radius: 4px;
  transition: all .3s;

  &:hover {
    color: $white;
    background-color: $blue;
  }

  &:disabled,
  &:disabled:hover {
    color: $gray;
    border-color: $gray;
    background-color: $gray-light;

    cursor: not-allowed;
  }
}

// Size
// Options: small | large
// --------------------------

// small
.button--small {
  padding: 4px 12px;
  font-size: $font-size-small;
}

// large
.button--large {
  padding: 9px 20px;
  font-size: $font-size-large;
}

// Theme
// Options: dark | primary | danger
// ---------------------------
.button--dark,
.button--primary,
.button--danger {
  color: $white;
}

.button--dark {
  @include colorful-button($blue)
}

.button--primary {
  @include colorful-button($blue-highlight)
}

.button--danger {
  @include colorful-button($red);
}



// With shadow
// ----------------------------
.button--shadow {
  box-shadow: 0 9px 12px rgba(0,0,0,0.2), 0 7px 6px rgba(0,0,0,0.11);
}

// Round button
// ----------------------------
.button--round {
  border-radius: 24px;
}

// Fill width like block element
// ----------------------------
.button--block {
  width: 100%;
}