@import '~@/assets/styles/variables.scss';

// normal
.button {
  padding: 8px 24px;

  border: 1px solid $blue;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  transition: all .3s;
  transform: scale(1);

  &:hover {
    color: $white;
    background-color: $blue;
    transform: scale(1.1);
  }
}

// small
.button--small {
  padding: 6px 18px;
  font-size: $font-size-small;
}

// large
.button--large {
  width: 100%;
  padding: 12px;
}