@import './variables.scss';
@import './mixins.scss';

body {
  @include font($normal-font-size);

  margin: 0;
  padding: 0;
  color: $theme-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
  SimSun, sans-serif;
  font-weight: 400;
}

a, a:active {
  color: $theme-color;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}