@import '~@/assets/styles/variables.scss';

.header {
  padding: 0 50px;

  border-bottom: 1px solid #e6e6e6;

  &__top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo img {
    height: 40px;
  }

  &__nav-bar {
    margin: 0;
    padding: 0;

    ul {
      display: flex;
      justify-content: space-between;
    }

    li {
      display: inline-block;
      padding: 10px 20px;
      margin: 0 5px;

      width: 65px;
      
      text-align: center;

      a {
        padding: 5px 0;
        line-height: 30px;
        font-size: $font-size-large;
        color: mix($blue, $white, 60%);
        transition: .2s;
        cursor: pointer;
        
        &:hover,
        &.header--active {
          color: $blue;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .header {
    padding: 10px 0;
    border-color: transparent;

    &__top-bar {
      display: block;
      padding: 0 30px;
    }
  }
}