@import '~styles/variables.scss';
@import '~styles/mixins.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  border-bottom: 1px solid #e6e6e6;

  @media screen and (max-width: 700px) {
    flex-direction: column;
    padding: 10px 0;
    border-color: transparent;
  }
}

.header {
  &__logo img {
    height: 40px;
  }

  &__nav-list {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 20px 10px;

      a {
        @include font($large-font-size);

        padding: 5px 0;

        border-bottom: 2px solid transparent;
        transition: .2s;
        
        &:hover,
        &.nav-list--active {
          border-color: #2c3e50;
        }
      }

      @media screen and (max-width: 700px) {
        padding: 10px;
      }
    }
  }
}