.post-list {
  margin-top: 20px;

  ul {
    padding: 0;
    padding-top: 4px;
    list-style-type: none;
    text-align: center;
  }
  
  li {
    display: flex;
    padding: 30px 50px 10px;
  }

  &__title {
    cursor: pointer;
    transition: .3s;

    a {
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 1px;
      
      &:hover {
        color: #e54973;
      }
    }
  }

  &__publish-time {
    margin-top: 5px;
    width: 150px;
    color: #999;
    font-size:18px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 700px) {
  .post-list {

    li {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
