@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  
  color: $blue;
  font-size: $global-font-size;
  background-color: $gray-light;
  font-family: $global-font-family;
  line-height: $global-line-height;
  font-weight: $global-font-weight;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a, a:active {
  color: $blue;
  text-decoration: none;
}

input,
input:focus,
button,
button:focus {
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app {
  padding: 0;
  margin: 0;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 100%;
  min-height: calc(100vh - 80px);
}

@media screen and (max-width: 650px) {
  .content {
    padding: 20px 10px;
  }
}
