@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  
  color: $blue;
  font-size: $global-font-size;
  font-family: $global-font-family;
  line-height: $global-line-height;
  font-weight: $global-font-weight;;
}

* {
  box-sizing: border-box;
}

a, a:active {
  color: $blue;
  text-decoration: none;
}

input,
input:focus,
button,
button:focus {
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app {
  padding: 0;
  margin: 0;
  position: relative;
}

.content-wrapper {
  margin: 0;
  padding: 0;
}

.content {
  padding: 0 50px;
  margin: 10px auto;
  max-width: 1000px;
}

@media screen and (max-width: 650px) {
  .content {
    padding: 0;
  }
}

// Icon font common class
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}