@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  
  color: $blue;
  font-size: $global-font-size;
  font-family: $global-font-family;
  line-height: $global-line-height;
  font-weight: $global-font-weight;;
}

* {
  box-sizing: border-box;
}

a, a:active {
  color: $blue;
  text-decoration: none;
}

input,
input:focus,
button,
button:focus {
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app {
  padding: 0;
  margin: 0;
  position: relative;
}

.content {
  padding: 10px 50px;
  
  @media screen and (max-width: 650px) {
    padding-top: 10px;
  }
}

.divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $blue-light;
  margin: 1em 0;
  padding: 0; 
}