@import '~@/assets/styles/variables';

$blue-blur: rgba(230, 231, 234, .8);

// Loading element with wrapper
.loading__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2018;
  
  .loading {
    padding: 10px 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: $black;
    border-radius: 10px;
    background-color: $blue-extra-light;
    user-select: none;
    text-align: center;
    white-space: nowrap;
  }
}

