@import '~@/assets/styles/variables';

.post-detail {
  padding: 10px 0;
  width: 100%;

  &__title,
  &__category {
    text-align: center;
  }

  &__title {
    font-size: $font-size-extra-large;

    letter-spacing: 1px;

    @media screen and (max-width: 650px) {
      font-size: $font-size-large;      
    }
  }

  &__category,
  &__publish-time {
    color: $blue-light;
  }

  &__content {
    font-size: $global-font-size;
    padding: 10px 0;
  }

  &__tags {
    padding: 10px 0;
  }

  &__tag {
    padding: 5px 10px;
    margin: 0 8px 8px 0;

    cursor: pointer;
    background: mix($black, $white, 5%);
    border-radius: 3px;
    transition: .2s;

    &:hover {
      background: mix($black, $white, 15%);
    }
  }

  &__bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 10px;
  }

  &__publish-time {
    text-align: right;
  }

  &__actions {
    cursor: default;
    user-select: none;

    > * {
      display: inline-block;
      margin-right: 25px;
    }
  }

  &__likes-summary,
  &__comments-summary {
    cursor: pointer;
    transform: scale(1);
    transition: all .3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__action--active {
    color: $blue-highlight;
    transform: scale(1.5) !important;

    .post-detail__action-count {
      color: $blue-highlight;
    }
  }

  &__action-icon {
    display: inline-block;
    margin-right: 5px;
    font-size: $font-size-extra-large;
  }

  &__action-count {
    display: inline-block;
    color: $blue-light;
  }
}