$color-pink: #E54973;
$color-white: #FFF;
$color-navy-blue: #2C3E50;

$theme-color: $color-navy-blue;
$active-color: $color-pink;
$border-color: #e6e6e6;
$assist-font-color: mix($color-white, $color-navy-blue);

// line-height = font-size + 8px
$extra-large-font-size: 20px;
$large-font-size: 16px;
$normal-font-size: 14px;
$small-font-size: 13px;
$extra-small-font-size: 12px;
