.login {
  padding-top: 100px;
  margin: 0 auto;

  min-height: 100vh;
  max-width: 350px;
  
  text-align: center;
  overflow: hidden;

  &__form {
    margin: 50px 20px 0;
  }

  &__submit {
    padding: 20px 0;
  }

  &__submit-button {
    width: 100%;
  }
}