@import '~assets/styles/variables.scss';
@import '~assets/styles/mixins.scss';

.post {
  padding: 10px;

  &__title,
  &__info {
    text-align: center;
  }

  &__title {
    @include font($extra-large-font-size);

    letter-spacing: 1px;

    @media screen and (max-width: 700px) {
      @include font($large-font-size);      
    }
  }

  &__info {
    color: $assist-font-color;
  }

  &__content {
    @include font($normal-font-size);
    padding: 10px 0;
  }

  &__tags {
    padding-top: 10px;
  }

  &__tag {
    padding: 5px 10px;
    margin: 0 8px 8px 0;
    background: mix($color-black, $color-white, 5%);
    border-radius: 3px;
    transition: .2s;
    cursor: default;
  }
}